#title h1 {
  display: flex;
  justify-content: center;
}

#p h3 {
  display: flex;
  justify-content: center;
}

#p2 h3 {
  display: flex;
  justify-content: center;
}

.container img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  /* display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center; */
}
